In [1]:
import pandas as pd

In [2]:
mask=pd.read_csv('/root/WORKSPACE/output/df_mask.csv')
age=pd.read_csv('/root/WORKSPACE/output/df_age.csv')
gender=pd.read_csv('/root/WORKSPACE/output/df_gender.csv')

In [6]:
merged_df=pd.merge(mask, age, on='ImageID')
merged_df = pd.merge(merged_df, gender, on='ImageID')

In [7]:
merged_df

                                            ImageID  mask  age  gender
0      cbc5c6e168e63498590db46022617123f1fe1268.jpg     1    1       0
1      0e72482bf56b3581c081f7da2a6180b8792c7089.jpg     0    1       0
2      b549040c49190cedc41327748aeb197c1670f14d.jpg     1    1       0
3      4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg     1    1       0
4      248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg     1    0       0
...                                             ...   ...  ...     ...
12595  d71d4570505d6af8f777690e63edfa8d85ea4476.jpg     0    1       0
12596  6cf1300e8e218716728d5820c0bab553306c2cfd.jpg     0    1       1
12597  8140edbba31c3a824e817e6d5fb95343199e2387.jpg     2    0       1
12598  030d439efe6fb5a7bafda45a393fc19f2bf57f54.jpg     0    1       0
12599  f1e0b9594ae9f72571f0a9dc67406ad41f2edab0.jpg     2    1       0

[12600 rows x 4 columns]

In [8]:
def determine_label(row):
    if row['mask']==0 and row['age']==0 and row['gender']==0:
        return 0
    
    elif row['mask']==0 and row['age']==1 and row['gender']==0:
        return 1
    
    elif row['mask']==0 and row['age']==2 and row['gender']==0:
        return 2
    
    elif row['mask']==0 and row['age']==0 and row['gender']==1:
        return 3
    
    elif row['mask']==0 and row['age']==1 and row['gender']==1:
        return 4
    
    elif row['mask']==0 and row['age']==2 and row['gender']==1:
        return 5
    
    elif row['mask']==2 and row['age']==0 and row['gender']==0:
        return 6
    
    elif row['mask']==2 and row['age']==1 and row['gender']==0:
        return 7
    
    elif row['mask']==2 and row['age']==2 and row['gender']==0:
        return 8
    
    elif row['mask']==2 and row['age']==0 and row['gender']==1:
        return 9
    
    elif row['mask']==2 and row['age']==1 and row['gender']==1:
        return 10
    
    elif row['mask']==2 and row['age']==2 and row['gender']==1:
        return 11
    
    elif row['mask']==1 and row['age']==0 and row['gender']==0:
        return 12
    
    elif row['mask']==1 and row['age']==1 and row['gender']==0:
        return 13
    
    elif row['mask']==1 and row['age']==2 and row['gender']==0:
        return 14
    
    elif row['mask']==1 and row['age']==0 and row['gender']==1:
        return 15
    
    elif row['mask']==1 and row['age']==1 and row['gender']==1:
        return 16
    
    elif row['mask']==1 and row['age']==2 and row['gender']==1:
        return 17

In [9]:
merged_df['ans']=merged_df.apply(determine_label, axis=1)

print(merged_df)

                                            ImageID  mask  age  gender  ans
0      cbc5c6e168e63498590db46022617123f1fe1268.jpg     1    1       0   13
1      0e72482bf56b3581c081f7da2a6180b8792c7089.jpg     0    1       0    1
2      b549040c49190cedc41327748aeb197c1670f14d.jpg     1    1       0   13
3      4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg     1    1       0   13
4      248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg     1    0       0   12
...                                             ...   ...  ...     ...  ...
12595  d71d4570505d6af8f777690e63edfa8d85ea4476.jpg     0    1       0    1
12596  6cf1300e8e218716728d5820c0bab553306c2cfd.jpg     0    1       1    4
12597  8140edbba31c3a824e817e6d5fb95343199e2387.jpg     2    0       1    9
12598  030d439efe6fb5a7bafda45a393fc19f2bf57f54.jpg     0    1       0    1
12599  f1e0b9594ae9f72571f0a9dc67406ad41f2edab0.jpg     2    1       0    7

[12600 rows x 5 columns]

In [10]:
merged_df=merged_df.drop(['mask', 'age', 'gender'], axis=1)

In [13]:
merged_df.to_csv('/root/WORKSPACE/output/result.csv')